<div class="body">
  <div class="text-center scores">
    <% if @input == '' %>
      <p>Please type an input - <%= link_to "Try Again", root_path %></p>
    <% else %>
      <% if @included %>
        <% if @english_word %>
          <h3>Congratulations!</h3>
          <p>'<%= params[:input].capitalize %>' is a valid word!</p>
          <p>Score: <%= params[:input].length %></p>
        <% else %>
          <h3>Not Quite!</h3>
          <p>'<%= params[:input].capitalize %>' does not seem to be a valid English word</p>
        <% end %>
      <% else %>
        <h3>Not Quite!</h3>
        <p>'<%= params[:input].upcase %>' can't be built from the provided letters</p>
        <p>'<%= @letters.sort.join(", ") %>'</p>
      <% end %>
    <% end %>
  </div>

  <div class="text-center reset">
    <%= link_to root_path do %>
      <button type="button" class="btn btn-outline-success">New Game</button>
    <% end %>
  </div>
</div>
