<!DOCTYPE html>
<html>
  <head>
    <title>CountdownSimulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# bootstrap is in stylesheets/pages/application.scss %>
  </head>

  <body>
    <div id='navbar' class="text-center">
      <%= link_to root_path do %>
        <h1>Worder</h1>
      <% end %>
    </div>
    <%= yield %>
    <!-- JavaScript Bundle with Popper -->
  </body>
</html>

<%# Future improvements %>

<%# 1) Add a 'Vowel' and 'Consonant' button so that the @letters array is filled by user choice %>
<%# Done by using JavaScript %>

<%# 2) Have a countdown timer on the page - limit on time to give an answer %>
<%# Scale the points given based on the time taken - Quicker answer = more points %>

<%# 3) Give the longest possible word that could have been created %>
<%# More points depending on the ratio of User's input lenght to the longest word length %>

<%# 4) Score keeping for the users session %>

<%# 5) Different weights for letters - eg: 'X' and 'Z' don't appear as often as 'M' %>

<%# 6) Prevention from things other than letters and '-' being input into the form %>

<%# 7) Continue to build out tests - hard to do as randomness in letters provided and input combinations %>
